body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.map-title {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 20px;
}

.map-wrapper .legend-wrapper {
  position: absolute;
  margin-left: 50%;
}
.map-wrapper.district-deaths .legend-wrapper {
  margin-top: 30px;
}
.map-wrapper .legend-wrapper .legend-title, .map-wrapper .legend-wrapper .legend-date {
  text-align: center;
}
.map-wrapper .legend-wrapper .legend-title {
  font-size: .9em;
  margin-bottom: 5px;
}
.map-wrapper .legend-wrapper .legend-date {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.map-wrapper .legend-daily svg {
  margin: 0 auto;
  display: table;
}
.map-wrapper .legend-daily .legend-circle {
  fill: none;
  stroke: #000;
}
.map-wrapper .legend-daily .legend-dotted-line {
  stroke: #000;
  stroke-dasharray: 2, 2;
  shape-rendering: crispEdges;
}
.map-wrapper .legend-cumulative .legend-rect {
  stroke-width: 1px;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.map-wrapper .legend-cumulative {
  margin-bottom: 10px;
}
.map-wrapper .legend-number {
  font-size: .7em;
}

.map-wrapper .map .rain-circle {
  fill: none;
  stroke: #000;
}
.map-wrapper .map .subunit.block {
  fill: #ddd;
  stroke-width: 0px;
}
.map-wrapper .map .subunit.district {
  fill: #fff;
  stroke-width: 1px;
  stroke: #444;
}
.map-wrapper .map .subunit.state {
  fill: #fafafa;
  stroke: #000;
}
.map-wrapper .map .subunit.state.bihar {
  fill: none;
}
.map-wrapper .map .subunit-boundary {
  fill: none;
  stroke: #000;
}
.map-wrapper .map .place-label {
  text-anchor: middle;
  font-size: .8em;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.map-wrapper .map .place-label.state-label {
  font-style: italic;
  fill: grey;
  text-transform: uppercase;
  font-size: .7em;
}

.map-source {
  font-size: .8em;
  color: #888;
}

.red-text {
  color: #df5a49;
}
.red-stroke {
  stroke: #df5a49 !important;
}
.red-fill {
  fill: #df5a49 !important;
}