body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.map-wrapper .legend-wrapper {
  position: absolute;
  margin-top: 80px;
  margin-left: 50%;
}
.map-wrapper .legend-wrapper .legend-title, .map-wrapper .legend-wrapper .legend-date {
  text-align: center;
  margin-bottom: 5px;
}
.map-wrapper .legend-wrapper .legend-title {
  font-size: .9em;
}
.map-wrapper .legend-wrapper .legend-date {
  font-size: 1.1em;
  font-weight: bold;
}
.map-wrapper .legend .legend-rect {
  stroke-width: 1px;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.map-wrapper .legend .legend-number {
  font-size: .7em;
}

.map-wrapper .map .subunit.block {
  fill: #ddd;
  stroke-width: 0px;
}
.subunit.state {
  fill: none;
  stroke: #3a403d;
}
.subunit-boundary {
  fill: none;
  stroke: #3a403d;
}

.place-label {
  font-size: .7em;
  text-shadow: 1px 1px 1px #fcfcfc, 1px 1px 1px #eee, 0 -1px 0 #fff, -1px 0 0 #fff;
}
